.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.labelNome, .labelEmail, .labelCpf, .labelTel{
    float: left;
    padding: 10px;
}

.name, #email, #cpf, #tel{
    width: 400px;
    height: 20px;
    border: 5px;
    border-radius: 5px;
}

.pRegistro{
    float: left;
}

#send{
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-family: sans-serif;
    width: 70px;
    height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 200ms ease-in-out;
}

#send:hover{
    transform: scale(1.05);
}