.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 300px;
    height: 300px;
    text-align: center;
    color: aliceblue;
    font-family: sans-serif;
}

body{
    background-color: black;
    color: aliceblue;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}
.name{
    border: 5px;
    border-radius: 5px;
}
.iEmail{
    border: 5px;
    border-radius: 5px;
}

.pNome, .pEmail{
    text-align: center;
}

.send{
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    cursor: pointer;
    font-family: sans-serif;
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 200ms ease-in-out;
}

.send:hover{
    transform: scale(1.05);
}