.container{
    height: 600px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box{
    margin: auto;
    text-align: center;
    width: 300px;
    height: 300px;
    color: aliceblue;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.p1{
    font-family: sans-serif;
    font-style: italic;
    font-size: 15pt;
}

h1{
    font-size: 30pt;
    
}

.cadButton{
    background-color: rgb(99, 1, 126);
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px;
    color: aliceblue;
    border: 25px solid rgb(99, 1, 126);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

.cadButton:hover{
    transform: scale(1.05);
}